h1 {
  color: limegreen;
}
.fett {
  font-weight: bold;
}
.grosser {
  font-size: 48px;
}
.normal {
  font-size: 24px;
}
h2 {
  color: limegreen;
}
.gross {
  font-size: 36px;
}
h3 {color: darkblue}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}
.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}
.navbar a:hover {
  color: #ffffff;
}

